<!DOCTYPE html>
<html lang="en" xmlns:th = "http://thymeleaf.org">

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MyBlog</title>
	<!-- CSS DO BOOTSTRAP -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
	
<body>
	<header>
		<nav class="navbar navbar-light bg-light">
    		<span class="navbar-brand mb-0 h1" style="font-weight: bold;">MyCodeBlog</span>
		</nav>	
	</header>
	
	<section>
		<div class="container"  style="width: 60%; padding-bottom: 30px;">
		
			<nav aria-label="breadcrumb">
  				<ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
    			<li class="breadcrumb-item active" aria-current="page">Posts</li>
  				</ol>
			</nav>
			
			<div class="card shadow-sm bg-white rounded" style="margin-top: 20px;" th:each="post : ${posts}">
				 <div class="card-body">
				 	<p class = "card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
				 		<span th:text="${post.autor}"></span>
				 		<span th:text="${post.data}"></span>
				 	</p>
				 	
				 	<a href="#" style="text-decoration: none"><h4 class="card-title" style="font-weight: bold; color: black; padding-top: 5px"><span th:text="${post.titulo}"></span></h4></a>
				 	
				 	<p class= "card-text"><span th:utext="${#strings.abbreviate(post.texto,400)}"></span></p>
				 	
				 </div>
			</div>
			
		</div>
	</section>
</body>

</html>